@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,300italic,600,400italic,600italic,700italic,800italic);

html, body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

header {
  text-align: center;
}

header h1 {
  margin: 0;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
    max-width: 497px;
    width: 100%;
}

a {
    color: #400AA7;
}

a:hover {
    color: #0c0221;
}

.subtitle {
  color: #949494;
}

.center {
  text-align: center; 
}

.button.button-primary {
    background: #400AA7;
    border: #400AA7;
}

.button.button-primary:hover {
    background: #260664;
    border: #260664;
}

.footer {
  padding: 20px 0;
}

.footer .subtitle {
    color: #767676;
}
