@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,300italic,600,400italic,600italic,700italic,800italic);

html, body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

header {
  text-align: center;
}

header h1 {
  margin: 0;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
    max-width: 497px;
    width: 100%;
}

.subtitle {
  color: #999;
}

.center {
  text-align: center; 
}

.footer {
  padding: 20px 0;
}
