<nav class="u-cf u-full-width">
  <div class="u-pull-left">
    <a href="/">
      <img src="/../public/images/logo.png" alt="logo" />
      <h4 class="title">intermezz<strong>OS</strong>, <span class="subtitle">(a little OS)</span></h4>
    </a>
  </div>
  <a href="https://webchat.freenode.net/#intermezzos" class="u-pull-right button">IRC: #intermezzOS</a>
  <a href="/blog/public/" class="u-pull-right button">Blog</a>
 </nav>
